.html-multi {
    background-image: url("./cerebro_numeros.jpg");
    background-size: contain;
    background-position: 100%;

    padding-bottom: 20px;

    display: inline;
}

div {
    display: inline-block;
    border-left: 10px;
}











