.html-multi {
    background-image: url("./cerebro_numeros.jpg");
    background-size: contain;
    background-position: 100%;

    padding-bottom: 20px;

    display: inline;
}

div {
    display: inline-block;
    border-left: 10px;
}
.subtracao {
    margin: 40px;
    align-items: center;
    text-align: center;
    font-family: cursive;

}

.formSub {
    background-color: white;
    padding: 25px;
    padding-left: 40px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(00, 00, 00, 0.3);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}



.inputSub {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}


.inputSub::placeholder {
    color: lightgray;
    font-family: cursive;
}

.btnSub {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(00, 00, 00, 0.3);
    cursor: pointer;
}

.btnSub:hover {
    filter: brightness(0.9);
}

.pontoSub {
    color: green;
    text-align: center;
}